body {
    background: #2b2b2b;
    font-family:"barlow", sans-serif;
}
#projects h1 {
    font-family: 900;
}
.card{
    border: 0;
    border-radius: 3px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .35);
}
.card-img-top {
    padding: 10px;
    height: 13rem;
    object-fit: contain;
}
.card-text {
    color:#6f7780;
    font-size: .85rem;
}
.btn-warning {
    font-weight: 700;
    font-size: .8rem;
    border-radius: 3px;
}